<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Data Cleaner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>

  </head>
  <body>
    {% include "includes/_navbar.html" %}

    <div class="container" >
        {% include "includes/_messages.html" %}
        {% block body %}{% endblock %}
    </div>

</body>
</html>
