{% extends 'layout.html'%}  

{% block body %}
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <a href="/login" class="active" id="login-form-link">Login</a>
              </div>
              <div class="col-xs-6">
                <a href="/register" id="register-form-link">Register</a>
              </div>
            </div>
              <hr>
            </div>
            <div class="panel-body">
              {% from "includes/_formhelpers.html" import render_field %}
              <form method="post" action="">
                {{ form.csrf_token }}
                <div class="form-group">
                  {{render_field(form.email, class_="form-control")}}
                </div>
                <div class="form-group">
                  {{render_field(form.password, class_="form-control")}}  
                </div>
                <p><input type="submit" class="btn btn-primary" value="Login"></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron text-center col-md-6 col-md-offset-3">
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="post" action="">
    {{ form.csrf_token }}
    <div class="form-group">
        {{render_field(form.email, class_="form-control")}}
    </div>
    <div class="pull-left">
        
    </div>
    <div class="pull-right">
        <p><input type="submit" class="btn btn-primary" value="Set Permission"></p>
    </div>
    </form>
    </div>

{% endblock %}
