<script>
    $(function() {
        getPieChart($('#view_attr option:selected').text());

        var input = {
            view_attr: $('#view_attr option:selected').text()
        }

        $.get("{{ url_for('dataset_pages._get_colstats', dataset_id=dataset_info.setid, tablename=table_name, attr_name=input) }}", input, function(data) {
                if(data != "") {
                    $('#col_stats').append(data);
                }
            })
    });

    function getRandomColor() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    }

    function getRandomColors(labels) {
        var colors = [];
        for (var i in labels) {
            colors.push(getRandomColor())
        }
        return colors;
    }

    function getPieChart(attr_name) {

        var formdata = attr_name;

        $.ajax({
            url: "{{ url_for('dataset_pages._get_chart_freq', dataset_id=dataset_info.setid, tablename=table_name, attr_name='temp_attr') }}".replace('temp_attr', formdata),
            success: function(response) {
                var ctx = document.getElementById('PieChart');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: response.labels,
                    datasets: [
                      {
                        data: response.sizes,
                        backgroundColor: getRandomColors(response.labels)
                      }
                    ]
                  }
                });
            }
        });
    }

    function getHistogram(attr_name) {

        var formdata = attr_name;

        $.ajax({
            url: "{{ url_for('dataset_pages._get_chart_freq', dataset_id=dataset_info.setid, tablename=table_name, attr_name='temp_attr') }}".replace('temp_attr', formdata),
            success: function(response) {
                var ctx = document.getElementById('Histogram');
                var myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                    labels: response.labels,
                    datasets: [
                      {
                          data: response.sizes,
                          barPercentage: 1,
                          backgroundColor: getRandomColor()
                      }
                    ]
                  }
                });
            }
        });
    }

    $('#view_attr').change(function() {
        getPieChart($('#view_attr option:selected').text());

        $('#col_stats').empty();

        var input = {
            view_attr: $('#view_attr option:selected').text()
        }

        $.get("{{ url_for('dataset_pages._get_colstats', dataset_id=dataset_info.setid, tablename=table_name, attr_name=input) }}", input, function(data) {
                if(data != "") {
                    $('#col_stats').append(data);
                }
            })
    });
</script>