<script>
	$('#dadiv').hide();

	$('#dac').change(function() {
		if($('#dac').is(':checked')){
			$('#dadiv').show();
		}
		else {
			$('#dadiv').hide();
		}
	});

	$('#tcdiv').hide();

	$('#tcc').change(function() {
		if($('#tcc').is(':checked')){
			$('#tcdiv').show();
		}
		else {
			$('#tcdiv').hide();
		}
	});

	$('#frdiv').hide();

	$('#frc').change(function() {
		if($('#frc').is(':checked')){
			$('#frdiv').show();
		}
		else {
			$('#frdiv').hide();
		}
	});

	$('#frrdiv').hide();

	$('#frrc').change(function() {
		if($('#frrc').is(':checked')){
			$('#frrdiv').show();
		}
		else {
			$('#frrdiv').hide();
		}
	});

	$('#prdiv').hide();

	$('#prc').change(function() {
		if($('#prc').is(':checked')){
			$('#prdiv').show();
		}
		else {
			$('#prdiv').hide();
		}
	});

	$('#dodiv').hide();

	$('#doc').change(function() {
		if($('#doc').is(':checked')){
			$('#dodiv').show();
		}
		else {
			$('#dodiv').hide();
		}
	});

	$('#ncdiv').hide();

	$('#nc').change(function() {
		if($('#nc').is(':checked')){
			$('#ncdiv').show();
		}
		else {
			$('#ncdiv').hide();
		}
	});

	$('#defdiv').hide();

	$('#defc').change(function() {
		if($('#defc').is(':checked')){
			$('#defdiv').show();
		}
		else {
			$('#defdiv').hide();
		}
	});

	$('#dewdiv').hide();

	$('#dewc').change(function() {
		if($('#dewc').is(':checked')){
			$('#dewdiv').show();
		}
		else {
			$('#dewdiv').hide();
		}
	});

	$('#decdiv').hide();

	$('#decc').change(function() {
		if($('#decc').is(':checked')){
			$('#decdiv').show();
		}
		else {
			$('#decdiv').hide();
		}
	});

	$('#eddiv').hide();

	$('#edc').change(function() {
		if($('#edc').is(':checked')){
			$('#eddiv').show();
		}
		else {
			$('#eddiv').hide();
		}
	});

	$('#ohediv').hide();

	$('#ohec').change(function() {
		if($('#ohec').is(':checked')){
			$('#ohediv').show();
		}
		else {
			$('#ohediv').hide();
		}
	});

	$('#fnmeandiv').hide();

	$('#fnmeanc').change(function() {
		if($('#fnmeanc').is(':checked')){
			$('#fnmeandiv').show();
		}
		else {
			$('#fnmeandiv').hide();
		}
	});

	$('#fnmediandiv').hide();

	$('#fnmedianc').change(function() {
		if($('#fnmedianc').is(':checked')){
			$('#fnmediandiv').show();
		}
		else {
			$('#fnmediandiv').hide();
		}
	});

	$('#fncdiv').hide();

	$('#fncc').change(function() {
		if($('#fncc').is(':checked')){
			$('#fncdiv').show();
		}
		else {
			$('#fncdiv').hide();
		}
	});


</script>