<script>

	$(function() {

		var dropdown = {
			attribute: $('#attribute'),
			options: $('#typeOptions'),
			char_amount: $('#char_amount'),
			date_type: $('#date_type')
		};

		updateOptions();

		function updateOptions() {
			
			$('#char_div').hide();
			$('#date_div').hide();

			var send = {
				attribute: dropdown.attribute.val()
			};
			dropdown.options.attr('disabled', 'disabled');
			dropdown.options.empty();
			$.getJSON("{{ url_for('dataset_pages._get_options', dataset_id=dataset_info.setid, tablename=table_name, attr=send) }}", send, function(data) {
				data.forEach(function(item) {
					dropdown.options.append (
						$('<option>', {
							value: item[0],
							text: item[1]
						})
					);
				});
				dropdown.options.removeAttr('disabled');
			});	
		}

		$('#attribute').change(function() {
			updateOptions();
		});

		$('#typeOptions').change(function() {
			if($('#typeOptions option:selected').text() == "CHAR(n)" || $('#typeOptions option:selected').text() == "VARCHAR(n)"){
				$('#char_div').show();
			}
			else {
				$('#char_div').hide();
			}			
		});
	});

</script>

<script>

	$(function() {

		var dropdown = {
			attribute: $('#attribute'),
			options: $('#typeOptions'),
			char_amount: $('#char_amount'),
			date_type: $('#date_type')
		};

		updateDateTime();

		function updateDateTime() {
			$('#date_div').hide();

			var type = {
				options: dropdown.options.val()
			}

			if (type.options == "") {
				type.options = "VARCHAR(255)";
			}

			dropdown.date_type.attr('disabled', 'disabled');
			dropdown.date_type.empty();
			$.getJSON("{{ url_for('dataset_pages._get_datetype', dataset_id=dataset_info.setid, tablename=table_name, attr=type) }}", type, function(data) {
				data.forEach(function(item) {
					dropdown.date_type.append (
						$('<option>', {
							value: item[0],
							text: item[1]
						})
					);
				});
				dropdown.date_type.removeAttr('disabled');
			});

		}
		$('#typeOptions').change(function() {
			updateDateTime();
			if($('#typeOptions option:selected').text() == "DATE" || $('#typeOptions option:selected').text() == "TIME" || $('#typeOptions option:selected').text() == "TIMESTAMP"){
				$('#date_div').show();
			}
			else {
				$('#date_div').hide();
			}			
		});
	});

</script>

<script>

	$('#force_div').hide();

	$('#force_check').change(function() {
		if($('#force_check').is(':checked')){
			$('#force_div').show();
		}
		else {
			$('#force_div').hide();
		}
	});

</script>