{% extends 'layout.html' %}

{% block body %}
    
    {% if session.loggedin %}
        <div class="jumbotron text-center" style="padding: 1%">
            <h2 id="tag">Getting Started</h2>
            <script>
                document.getElementById("tag").addEventListener('click', function (evt) {
                    if (evt.detail == 3) {
                        window.location.href = "{{ url_for('admin_pages.promote_demote') }}";
                    }
                });
            </script>
        </div>
        <div>
            <div class="jumbotron text-center" style="padding-top: 2%">
                <h3>Existing Datasets</h3>
                </br>
                <a href="{{ url_for('dataset_pages.list') }}" class="btn btn-primary">View Datasets</a>
            </div>
        </div>
    {% else %}
        <div class="jumbotron text-center"  style="padding: 1%">
            <h2>Welcome</h2>
        </div>

        <div class="jumbotron text-center">
            <h3>Programming Project Databases 2018</h3>    
            <p></br>Atisha Ribeiro</br>Chris Nsana</br>Kasper Engelen</br>Luuk van Sloun</p>
        </div>
    {% endif %}

{% endblock %}
