{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron text-center" style="padding: 1%">
        <h2>My Profile</h2>
    </div>
    <div class="jumbotron text-center">

        <div class="jumbotron text-left">
            <div class="pull-right text-center">
                <a href="{{ url_for('user_pages.edit_info') }}" class="btn btn-primary">Edit</a>
            </div>
            <div style="overflow-x: auto;">
                <table style="width: 100%">
                    <tr>
                        <th>Name</th>
                        <td>{{ userinfo.fname }} {{ userinfo.lname }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ userinfo.email }}</td>
                    </tr>
                    <tr>
                        <th>Register Date</th>
                        <td>{{ userinfo.register_date.D }}-{{ userinfo.register_date.M }}-{{ userinfo.register_date.Y }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
