<div id="cancel_dedup_modal" class="modal fade text-left" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cancel?</h4>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

                <div class="pull-right">
                    <a href="{{ url_for('dataset_pages.dedup_cancel', dataset_id=datasetid, tablename=table_name) }}" class="btn btn-primary" id="cancel_dedup">Cancel</a>
                </div>
            </div>
        </div>
        <!-- Modal content -->
    </div>
</div>