<div id="deleteattrmodal" class="modal fade text-left" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Table?</h4>
            </div>
            <div class="modal-body">
            	<!-- Download form -->
            	{% from "includes/_formhelpers.html" import render_field %}
            	<div class="form-group">
            		{{ render_field(delete_form.make_new_table, class_="checkbox", id="dac") }}
            	</div>
            	<div class="form-group" id="dadiv">
            		{{ render_field(delete_form.new_table_name, class_="form-control") }}
            	</div>
                <button class="btn btn-primary" id="delete" type="submit">Submit</button>
        		
                <!-- Download form -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- Modal content -->
    </div>
</div>