<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Data Cleaner</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
              <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Page 1-1</a></li>
                  <li><a href="#">Page 1-2</a></li>
                  <li><a href="#">Page 1-3</a></li>
                </ul>
              </li>
              <li><a href="#">Page 2</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if session.logged_in %}
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login/Register</a></li>
                {% endif %}
            </ul>
        </div>
</nav>